/* Leaflet stuff */
section.leaflet-control-layers-list {
    max-height: 300px;
}

input[type="checkbox"].leaflet-control-layers-selector {
    display: none;
}
input[type="checkbox"].leaflet-control-layers-selector:not(:checked) + span {
    background-color: lightgray !important;
}

.leaflet-popup-tip,                                                                                                                     
.leaflet-popup-content-wrapper {                                                                                                        
    text-align:center;                                                                                                                  
    padding:6px;                                                                                                                        
}                                                                                                                                       
                                                                                                                                        
.leaflet-popup-content, .leaflet-popup-content > hr {                                                                                                                
    margin:0px;                                                                                                                         
    padding:0px;                                                                                                                        
}                                                                                                                                       
                                                                                                                                        
.leaflet-popup-content p {                                                                                                              
    margin:0px;                                                                                                                         
    padding:0px;                                                                                                                        
}  
