{% load static %}
<link rel="stylesheet" href="{% static 'mapview/content/fontawesome-5-all.css' %}" />
<link rel="stylesheet" href="{% static 'mapview/content/leaflet.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static 'mapview/content/ru.mapview.css' %}" type="text/css" />
<script src="{% static 'mapview/scripts/leaflet-src.js' %}"></script>
<script src="{% static 'mapview/scripts/oms.min.js' %}"></script>
<script src="{% static 'mapview/scripts/ru.mapview.js' %}"></script>

<!-- Full view of a map (no size restriction) -->
<div id="map_main" >
  <!-- This is where the waiting symbol or the actual map will appear-->
</div>
