{% extends "layout.html" %}

{% block content %}

<div class="container-fluid body-content">
  <div class="row">     
    <div class="col-md-5 col-lg-offset-1">
      <h3>Welcome <span class="pull-right" style="font-size: small;">on {{current_time}}</span></h3>

      {% if user.is_authenticated %}        
        <br/>        
        <p class="home">The dataset presented here includes sculptural portraits of Roman emperors (mostly carved from marble or casted in bronze) 
            that were collected for the purposes of analyzing the representation of Roman emperors in freestanding sculpture.</p>
        <br/>        
        <p>Funding agency: <i>Stichting Ammodo</i>, through the <i>Ammodo Science Award (2017) for Humanities.</i></p>
        <br/>        
        <div>(Do you want to <a href="{% url 'logout' %}">log out</a>)?</div>

        {% if user.is_superuser %}
          <div>
            <p>Since you are superuser, {{user.username}}, you have one more privilege: updating from <strong>Excel</strong>.</p>
            <p>Please see the Extra menu.</p>
          </div>
        {% endif %}

      {% else %}
        <br/>
        <p class="home">The dataset presented here includes sculptural portraits of Roman emperors (mostly carved from marble or casted in bronze) 
            that were collected for the purposes of analyzing the representation of Roman emperors in freestanding sculpture.</p>
        <br/>
        <div>
          If you want to, you can <a href="{% url 'signup' %}">register</a> and use the (<a href="{% url 'login' %}">log in</a>) but this is <i>not</i> necessary.  
        </div>
      {% endif %}
    </div>  
    <div class="col-md-3 col-lg-offset-1">
        <!-- Image -->
        <a href="https://creativecommons.org/licenses/by-nc/2.0/" target="_blank" style="margin: 10px;">
            <img src="/media/material/banners/banner_5.jpg" style='max-width: 500px; width: auto; height: auto;' title="Egisto Sani, CC BY-NC 2.0 Deed" />        
        </a>    
    </div>
  </div>
</div>

<div class="container-fluid body-content">
  <div class="row">    
    <div class="col-md-5 col-lg-offset-1">
     <h3>{{ title }} the {{ message }}</h3>
     <br/>
     <p class="paragraph">Emperor</p>
     <p class="home">The Roman Empire was one of the largest empires the world has ever seen. For a long period of history, one man stood at the head 
     of this enormous political entity: the Roman emperor. His presence was felt in almost every city in the ancient Roman world. Since the majority of 
     the inhabitants of the Roman Empire would never get to see the emperor in person, statues and busts of the emperor 
     played a crucial role as proxies in visualizing imperial leadership.</p> 
    </div>
  </div>
</div>

<div class="container-fluid body-content">
  <div class="row">    
    <div class="col-md-5 col-lg-offset-1">

     <p class="paragraph">Portraits</p>
     <p class="home">For centuries, the portraits of the Roman emperors have been a focal point in the study of the ancient world. 
     They are treated as unique artifacts that show how the emperors of Rome wished to be perceived by their subjects. 
     At the same time, the distribution mechanisms of these portraits allowed sculptors to add their own unique twists to the art works. 
     They were thus an important means of communication between the imperial center and local communities, and have been rightly treated as 
     such over the last few decades. However, questions on how this medium developed over time and/or how perceptions of the emperor changed over 
     more than four centuries of imperial rule, are constrained by the availability and accessibility of the material.</p>    
     <br/>
     <br/>
     <p class="paragraph">Catalogue</p>
     <p class="home">Scholars have tried to make available the wide collection of imperial portraits spread throughout mainly European and North-American museums and depots. 
     The first systematic attempt to do so was conducted by the Italian antiquarian Ennio Quirino Visconti (1751-1818) in the early nineteenth century, 
     who was followed by the Swiss Johann Jakob Bernoulli (1831-1913). The positivist spirit of Visconti and Bernoulli continued in the works 
     Max Wegner (1902-1998), one of the founders of the Das römische Herrscherbild (DRH) book series.The first volume of the (still incomplete) DRH appeared in 1939, 
     and the series as a whole has since aimed to bring up to date and to complete Bernoulli’s catalogue. In the meantime, each year new or revised finds are 
     published in archaeological reports, museum catalogues, and/or online databases.</p> 
    </div>
    <div class="col-md-3 col-lg-offset-1">
        <!-- Image -->
        <a href="https://creativecommons.org/licenses/by-nc/2.0/" target="_blank" style="margin: 10px;">
            <img src="/media/material/banners/banner_6.jpg" style='max-width: 500px; width: auto; height: auto;' title="Egisto Sani, CC BY-NC 2.0 Deed" />        
        </a>
    </div>
  </div>
</div>

<div class="container-fluid body-content">
  <div class="row">    
    <div class="col-md-5 col-lg-offset-1">
     <p class="paragraph">Project</p>
     <p class="home">Our ideas on the physical characteristics of the Roman emperors too are changing as portraits that radically differ from the standardized 
     image are re-examined, and new methods to recognize and identify images of Roman emperors such as facial recognition are now being tested. 
     The field of Roman portrait studies is thus constantly in motion. In order to advance our knowledge on the functioning of imperial portraits 
     and to gain an overview of the sources currently available, the RIPD has attempted to systematically bring together extant (i.e. published) 
     portraits of the Roman emperors in a single dataset that can be used for further study.</p>
     <br/>
     <br/>
     <p class="paragraph">Goals</p>
     <p class="home">To do so, the project has extracted and cross-referenced published portraits of the Roman emperors from the available record as well as (online) 
     catalogues and recent archaeological reports. 
     The aim of the project is not so much to provide alternative readings of the available data as it aims to allow researchers to introduce 
     quantitative questions to the study of imperial portraiture. It is worth stressing that the dataset introduced here should not be considered as 
     a “complete” overview. As mentioned above, new portraits are unearthed each year and the identities of existing portraits are constantly 
     reconsidered on the basis of discussions in the field of ancient history and archaeology.</p>
     <br/>
     <br/>
     <p class="paragraph">Dataset</p>
     <p class="home">The dataset presented here includes sculptural portraits of Roman emperors (mostly carved from marble or casted in bronze) 
     that were collected for the purposes of analyzing the representation of Roman emperors in freestanding sculpture. The dataset consists of processed data. 
     Entries in the dataset were collected using museum catalogues and archaeological/art-historical reports.The dataset includes portrait heads 
     (when applicable: together with their accompanying body and base) and provides detailed information on their provenance, formal features, 
     iconography, context.</p>
     <br/>
     <br/>
     <p class="paragraph">Funding agency</p>
     <p><i>Stichting Ammodo, through the Ammodo Science Award (2017) for Humanities.</i></p>
     <br/>
     <address>
     <p>
       <strong>RIPD contents:</strong> <a href="mailto:s.j.m.heijnen@vu.nl">Sam Heijnen</a>, <a href="mailto:olivier.hekster@ru.nl">Olivier Hekster</a>
     </p>
     <p>
       <strong>Technical support:</strong> <a href="mailto:thijs.hermsen@ru.nl">Thijs Hermsen</a><br />
     </p>
     </address>
       <div class="col-sm-12 display-lg">
        <!-- Image -->
        <a href="https://www.ammodo.org/" target="_blank" style="margin: 10px;">
            <img src="/media/material/logos/ammodo.png" style='max-width: 75px; width: auto; height: auto;' title="Stichting Ammodo"/>        
        </a>        
        <!-- Image -->
        <a href="https://www.ru.nl/en/radboud-institute-for-culture-history " target="_blank" style="margin: 10px;">
            <img src="/media/material/logos/radboud.png" style='max-width: 300px; width: auto; height: auto;' title="Radboud Universiteit"/>        
        </a>        
        <!-- Image -->
        <a href="https://www.nwo.nl/" target="_blank" style="margin: 10px;">
            <img src="/media/material/logos/NWO.jpg" style='max-width: 75px; width: auto; height: auto;' title="Nederlandse Organisatie voor Wetenschappelijk Onderzoek"/>        
        </a>        
        <!-- Image -->
        <a href="https://www.rug.nl/research/research-let/oikos/?lang=nl" target="_blank" style="margin: 10px;">
            <img src="/media/material/logos/oikos.jpg" style='max-width: 75px; width: auto; height: auto;' title="Oikos"/>        
        </a>
    </div>
    </div> 
    <div class="col-md-3 col-lg-offset-1">
        <!-- Image -->
        <a href="https://creativecommons.org/licenses/by-nc/2.0/" target="_blank" style="margin: 10px;">
            <img src="/media/material/banners/banner_7.jpg" style='max-width: 500px; width: auto; height: auto;' title="Egisto Sani, CC BY-NC 2.0 Deed" />        
        </a>
    </div>
  </div>
</div>
{% endblock %}