{% extends "layout.html" %}

{% block content %}

<div class="container body-content">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h3>
        <span>Hello {% if user.username %}{{user.username}}{% else %}anonymous-user{% endif %}!</span>
        <span class="pull-right" style="font-size: small;">on {{current_time}}</span>
      </h3>

      {% if user.is_authenticated %}
        <div>Welkom {{user.username}}</div>
        <br/>
        
        <div>The dataset presented here includes sculptural portraits of Roman emperors (mostly carved from marble or casted in bronze) 
            that were collected for the purposes of analyzing the representation of Roman emperors in freestanding sculpture.</div>
        <br/>
        <div>The dataset consists of processed data. Entries in the dataset were collected using museum catalogues and archaeological/art-historical reports. 
        The dataset includes portrait heads (when applicable: together with their accompanying body and base) and provides detailed information on their provenance, 
        formal features, iconography, context.</div>
        <br/>
        <div>Funding agency: <i>Stichting Ammodo, through the Ammodo Science Award (2017) for Humanities.</i></div>
        <br/>
        
        <div>(Of wilt u <a href="{% url 'logout' %}">uitloggen</a>?</div>

        {% if user.is_superuser %}
          <div>
            <p>Since you are superuser, {{user.username}}, you have one more privilege: updating from <strong>Excel</strong>.</p>
            <p>Please see the Extra menu.</p>
          </div>
        {% endif %}

      {% else %}
        <div>
          Bepaalde zaken zijn alleen te bereiken na <a href="{% url 'login' %}">inloggen</a> 
          (Mogelijkerwijze wilt u misschien eerst <a href="{% url 'signup' %}">registreren</a>?)
        </div>


      {% endif %}
    </div>
  </div>

</div>
{% endblock %}
