<div class="map-list-switch {% if mode == 'map' %}map-active{% endif %}" >
  <ul>
    <li class="list-switch">
      <a class="switch-item"
         {% if mode == "map" %}onclick="ru.ripd.goto_view(this, 'list');" style="cursor: pointer;" {% endif %} >
        <span class="glyphicon glyphicon-list"></span>
        <strong>&nbsp;List</strong>
        <span>({{entrycount}})</span>
      </a>
    </li>
    <li class="map-switch">
      <a class="switch-item" 
         {% if mode == "list" %}
          targeturl="{% url 'portrait_map' %}"
          onclick="ru.ripd.goto_view(this, 'map');" 
          style="cursor: pointer;" 
         {% endif %} >
        <span class="glyphicon glyphicon-map-marker"></span>&nbsp;
        <strong>Findspot</strong>
        <span>({{mapcount}})</span>
      </a>
    </li>    
  </ul>
</div>