
{% if is_app_editor %}
    <div>
        <span id="add_search_criteria" class="pull-right">
          <!-- Completely manual sermon adding -->
          <a class="btn btn-xs jumbo-3" role="button" 
             onclick="document.getElementById('create_new_photo').submit();"             
              >
            <span class="glyphicon glyphicon-plus"></span>Add a photo
          </a>
        </span>
    </div>

      <!-- Room to have the form-link to create a new sermon for this manuscript -->
      <div class="row">
        <div class="hidden col-md-offset-6 col-md-6" >
          <form id="create_new_photo" action="{% url 'addphoto_details' %}" method="post" >
            {% csrf_token %}
            <div class="hidden" >
              <input type="text" name="add-portrait" value="{{instance.id}}" />
            </div>
          </form>
        </div>
      </div>
{% endif %}