{% extends "layout.html" %}

{% block content %}

<div class="container body-content">

    <h3>{{ title }} for the {{ message }}</h3>
    
    <br/>
    <br/>
    <br/>

    <div class="col-sm-12 display-lg">
    <!-- Image -->
        <a href="https://doi.org/10.5281/zenodo.6534518" target="_blank">
            <img src="/media/material/Figure_1.png" style='max-width: 600px; width: auto; height: auto;' title="Source: Zenodo"/>        
        </a>
    </div>
    <br/>
    <p>Figure 1: Total number of Roman imperial portraits, per emperor (N=2135), excluding imperial portraits of unknown emperors. © S. Heijnen, Download here:
    <a href="https://doi.org/10.5281/zenodo.6534518">https://doi.org/10.5281/zenodo.6534518</a>.</p> 
    <br/>
    <br/>
    <div class="col-sm-12 display-lg">
    <!-- Image -->
        <a href="https://doi.org/10.5281/zenodo.6563952" target="_blank">
            <img src="/media/material/Figure_2.png" style='max-width: 600px; width: auto; height: auto;' title="Source: Zenodo"/>        
        </a>
    </div>
    <br/>
    <br/>
    <p>Figure 2: Number of imperial portraits (average), per year of reign (N=1625), excluding emperors that ruled less than 
    a year and imperial portraits that circulated prior to the emperor's accession. © S. Heijnen, Download here:
    <a href="https://doi.org/10.5281/zenodo.6563952">https://doi.org/10.5281/zenodo.6563952</a>.</p> 
    <br/>


    <div class="col-sm-12 display-lg">
    <!-- Image -->
        <a href="https://doi.org/10.5281/zenodo.6563964" target="_blank">
            <img src="/media/material/Figure_3.jpg" style='max-width: 600px; width: auto; height: auto;' title="Source: Zenodo"/>        
        </a>
    </div>
    <br/>
    <br/>
    <p>Figure 3: Map of the Mediterranean region, showing the find spots of imperial portraits. © T. Hermsen & S. Heijnen, Download here:
    <a href="https://doi.org/10.5281/zenodo.6563964">https://doi.org/10.5281/zenodo.6563964</a>.</p>
    <br/>

    <div class="col-sm-12 display-lg">
    <!-- Image -->
        <a>
            <img src="/media/material/Figure_4.png" style='max-width: 600px; width: auto; height: auto;' title="Source: : S. Heijnen, Portraying Change. The Representation of Roman Emperors in Freestanding Sculpture (ca. 50 BC - ca. 400 AD)"/>        
        </a>
    </div>
    <br/>
    <br/>
    <p>Figure 4: Modes of representation of the Roman emperor, Julio-Claudian – Constantinian period (N=515), excluding statue bodies that were found 
        without their original portrait, in: S. Heijnen, <i>Portraying Change. The Representation of Roman Emperors in Freestanding Sculpture (ca. 50 BC - ca. 400 AD)</i>, 2021, p. 109.
    <br/>
    <br/>







    <p>Table 1: Number of extant imperial portraits and bases. Bases by Højte (2005), Petruccioli (2012), Spranger (2014), and LSA.</p>
    <a id="downloadmenu" role="button" class="btn jumbo-1 btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" 
                        onclick="" >
                  Download Table 1<span class="caret"></span>
    </a>
    <br/>
    <br/>
    <p>Table 2: Number of extant recarved imperial portraits.</p>
    <a id="downloadmenu" role="button" class="btn jumbo-1 btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" 
                        onclick="" >
                  Download Table 2<span class="caret"></span>
    </a>
    <br/>
    <br/>
    <p>Table 3: Table VI: Number of extant imperial portraits in toga, cuirass, and heroic nudity, in absolute and relative numbers, excluding statue bodies that were found without their original portrait.</p>
    <a id="downloadmenu" role="button" class="btn jumbo-1 btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" 
                        onclick="" >
                  Download Table 3<span class="caret"></span>
    </a>
    
  
    </ul>


</div>






{% endblock %}