{% extends "layout.html" %}

{% block content %}

<div class="container body-content">
  <div class="row">
    <div class="col-md-8 col-lg-offset-2">
      <h3>{{ title }} for the {{ message }}</h3>
      <br/>
      <p class="paragraph">Analysis</p>
      <p>- Bergmann, M. 1977. <i>Studien zum römischen Porträt des 3. Jahrhunderts n. Chr.</i>, Bonn.</p>
      <p>- Fejfer, J. 2007. <i>Roman Portraits in Context</i>, Berlin – Boston.</p>
      <p>- Heijnen, S. 2020. ‘Living Up to Expectations: Hadrian’s Military Representation in Freestanding Sculpture’, <i>BABESCH 95</i>, 195–212.</p>
      <p>- Heijnen, S. 2021. ‘Statues in Dialogue: Visual Similarities in “Grown” Roman Imperial Statue Groups from the Greek East’, <i>Ancient Society 51</i>, 123-156.</p>
      <p>- Heijnen, S. 2021. <i>Portraying Change. The Representation of Roman Emperors in Freestanding Sculpture (ca. 50 BC – ca. AD 400)</i>. PhD Nijmegen.</p>
      <p>- Heijnen, S., O. Hekster, and T. Hermsen. 2022. ‘Roman Imperial Statue Portraits Dataset’, <i>Research Data Journal for the Humanities and Social Sciences</i>, 1-14.
      <a href="https://brill.com/view/journals/rdj/aop/article-10.1163-24523666-bja10023/article-10.1163-24523666-bja10023.xml">https://brill.com/view/journals/rdj/aop/article-10.1163-24523666-bja10023/article-10.1163-24523666-bja10023.xml</a></p> 
      <p>- Hoff, Ralf von den. 2016. ‘Kaiserbildnisse als Kaisergeschichte(n). Prolegomena zu einem medialen Konzept römischer Herrscherporträts’. <i>Zwischen Strukturgeschichte und Biographie: Probleme und Perspektiven einer neuen Römischen Kaisergeschichte zur Zeit von Augustus bis Commodus</i>, 
      edited by Aloys Winterling, Berlin, Boston, 15-44. <a href="https://doi.org/10.1515/9783110446661-004">https://doi.org/10.1515/9783110446661-004</a></p>
      <p>- Srirangacher Ramesh, D., S. Heijnen, O. Hekster and L. Spreeuwers. 2022. ‘Facial Recognition as a Tool to Identify Roman Emperors. Towards a New Methodology’, 
      <i>Humanities and Social Sciences Communications</i> 9.78. <a href="https://www.nature.com/articles/s41599-022-01090-y">https://www.nature.com/articles/s41599-022-01090-y</a></p>  
      <br/>
      <p class="paragraph">Important catalogues</p>
      <p>- Klaus Fittschen, Paul Zanker: <i>Katalog der römischen Porträts in den Capitolinischen Museen und den anderen kommunalen Sammlungen der Stadt Rom</i>. 
      Band 1: Kaiser- und Prinzenbildnisse. 2., überarbeitete Auflage. Philipp v. Zabern, Mainz 1994.</p>
      <br/>
      <p><i>- Das römische Herrscherbild:</i></p>
      <ul>
        <li>Bd. 1, 2: Dietrich Boschung: Die Bildnisse des Augustus. Gebr. Mann Verlag, Berlin 1993.</li>
        <li>Bd. 1, 4: Dietrich Boschung: Die Bildnisse des Caligula. Gebr. Mann, Berlin 1989.</li>
        <li>Bd. 2, 1: Georg Daltrop, Ulrich Hausmann: Die Flavier. Vespasian, Titus, Domitian, Nerva, Julia Titi, Domitilla, Domitia. Gebr. Mann, Berlin 1966.</li>
        <li>Bd. 3, 1: Heinz Bernhard Wiggers, Max Wegner: Caracalla, Geta, Plautilla. Macrinus bis Balbinus. Gebr. Mann, Berlin 1971.</li>
        <li>Bd. 3, 2: Richard Delbrueck: Die Münzbildnisse von Maximinus bis Carinus. Berlin 1940.</li>
        <li>Bd. 3, 3: Max Wegner: Gordianus III. bis Carinus. Gebr. Mann, Berlin 1979.</li>
        <li>Bd. 3, 4: Hans Peter L’Orange: Das spätantike Herrscherbild von Diokletian bis zu den Konstantin-Söhnen, 284–361 n. Chr. Gebr. Mann, Berlin 1984.</li>
        <li>Bd. 3, 5: Thomas Pekáry: Das römische Kaiserbildnis in Staat, Kult und Gesellschaft. Dargestellt anhand der schriftlichen Überlieferung. Gebr. Mann, Berlin 1985.</li>
      </ul>
      <br/>
      <p class="paragraph">Links</p>
      <p>Website Arachne: <a href="https://arachne.uni-koeln.de/arachne/">Arachne</a>.
      </p>    
      <p>Website LSA: <a href="http://laststatues.classics.ox.ac.uk/">Last Statues of Antiquity</a>.
      </p>     
      <p>Website DANS: <a href="https://archaeology.datastations.nl/dataset.xhtml?persistentId=doi:10.17026/dans-2ca-hxmd">Download Roman Imperial Portraits Dataset (CSV)</a>.
      </p>
    </div>
  </div>
</div>
{% endblock %}